#headerBackground {
  width: 100%;
  height: 20vh;
  background: var(--blue-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}
#headerContainer {
  padding-bottom: 3rem;
}
#headerText {
  font-family: "Geologica";
  font-size: 4rem;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 5px #0000002f;
}
