#basic-navbar-nav {
  font-family: "Geologica", sans-serif;
  font-size: 20px;
}
#dropdown-basic-button {
  color: #fff !important;
  background-color: var(--primary-color);
  border-radius: 5px;
}
#dropdown-basic-button:hover {
  background: #0b5ed7;
}

#dropdown-basic-button:active {
  background: #0a58ca;
}
#topNavbar {
  padding: 1rem;
  color: black;
  background-color: #fff !important;
  box-shadow: 0 0 10px 0 black;
}
.navbar-brand {
  font-size: 24px;
  font-weight: 500;
}
#shoppingCart {
  font-size: 2rem;
}
